version: '2'
services:
  printrun:
    image: twhtanghk/docker.printrun
    ipc: true
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /var/run/dbus:/var/run/dbus
      - /usr/share/fonts:/usr/share/fonts
      - ../src:/root
#    devices:
#      - /dev/ttyUSB0
    environment:
      - DISPLAY
