version: '2'
services:
  nginx:
    image: nginx
    container_name: nginx
    hostname: nginx
    ports:
      - 443:443
    volumes:
      - ${COMPOSEROOT}/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - ${COMPOSEROOT}/nginx/conf/conf.d:/etc/nginx/conf.d
      - ${COMPOSEROOT}/dns-template/dst/nginx:/etc/nginx/conf.d/https
      - ${COMPOSEROOT}/nginx/log:/var/log/nginx
      - ${COMPOSEROOT}/nginx/www:/var/www
      - ${COMPOSEROOT}/nginx/ssl/nginx.key:/etc/ssl/private/nginx.key
      - ${COMPOSEROOT}/nginx/ssl/nginx.pem:/etc/ssl/certs/nginx.pem
