version: '2'
services:
  chrome:
    image: twhtanghk/chrome
    privileged: true
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /var/run/dbus:/var/run/dbus
      - /usr/share/fonts:/usr/share/fonts
    environment:
      - DISPLAY
    env_file:
      - ../.env
